:root {
    --desktop-color: rgba(51, 71, 176, 1);
    --desktop-color: rgba(51, 71, 176, 1);
    --barra-color: rgba(238, 239, 248, 1)
}

.sair {
    display: flex;
    gap: 12px;
    font-size: 2rem;
    align-items: center;
    font-weight: 500;
}

.container {
    display: flex;
    gap: 3rem;
}

footer {
    display: flex;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 96px;
    background-color: var(--desktop-color);
    font-weight: 400;
}

main {
    display: flex;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

.card-aluno-unico {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    align-items: center;
    font-size: 1.3rem;
    gap: 20px;
    justify-content: center;
    color: var(--desktop-color);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    text-shadow: #2525 0.1em 0.1em 0.3em;
    text-align: center;
}

.card-nota {
    display: flex;
    height: 500px;
    width: 700px;
    padding: 60px;
    justify-content: center;
    gap: 40px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.disciplina {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-aluno-unico {
    width: 350px;
    height: 350px;
}

.nota {
    text-shadow: #2525 0.1em 0.1em 0.3em;
    font-weight: 900;
    font-size: 1.1rem;
    color: yellow;
}

.sigla {
    text-shadow: #2525 0.1em 0.1em 0.3em;
    font-weight: 900;
    font-size: 1.1rem;
    color: var(--desktop-color);
}

.barra {
    background-color: var(--barra-color);
    height: 343px;
    width: 15px;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cor-da-nota {
    height: 20%;
    border-radius: 6px 6px 0px 0px;
    background-color: yellowS;
    box-shadow: 0px 0px 10px 10px rgba(209, 1, 1, 0.25);
}

.container-contato {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contato {
    display: flex;
    font-size: 1rem;
    gap: 24px;
}

.container-social {
    display: flex;
    gap: 20px;
}

.social {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1.2rem;
}

@media (max-width:1100px) {
    .container {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
}

@media (max-width:640px) {
    .card-aluno-unico {
        width: 300px;
        height: 300px;
    }
    .img-aluno-unico {
        width: 200px;
        height: 200px;
    }
    #myChart {
        width: 300px;
        height: 300px;
    }
}